.full-width-table {
  width: 100%;
}

.toolbar {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 1rem;
}

.mat-form-field {
  margin-left: 15px;
  margin-right: 15px;
}