.full-width-table {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 15px;
  height: 100vh;
}

.content-sidebar {
  width: 25%;
  border-right: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
}

.content-main {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
}

.content-sidebar__item {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #6c757d;
  color: #fff;
}

.content-sidebar__item.active {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
  position: relative;
  left: 1px;
  background-color: #f8f9fa;
  color: #000;
  z-index: 2;
}