.full-width-table {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100vh;
}

.content-sidebar {
  width: 25%;
  border-right: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  direction: rtl;
  padding-left: 10px;
}

.content-main {
  width: 75%;
}

.content-sidebar__item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.content-sidebar__item.active {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
  position: relative;
  left: 1px;
  background-color: #f8f9fa;
  color: #000;
  z-index: 2;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.toolbar {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
}

.searchbox {
  border-radius: 50px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.space {
  flex: 1 1 auto;
}

.mat-form-field {
  margin-left: 15px;
  margin-right: 15px;
}