<nav class="navbar" mat-tab-nav-bar [tabPanel]="tabPanel">
  <div class="navbar-brand">
      <h1>Permissions</h1>
  </div>
  <div class="empty-space"></div>
  <div class="navbar-item" *ngFor="let linkItem of links">
      <a mat-tab-link [routerLink]="linkItem.link" (click)="activeLink = linkItem.link" [active]="activeLink === linkItem.link"> 
        {{linkItem.label}} 
      </a>
  </div>
</nav>
<mat-tab-nav-panel #tabPanel>
  <div class="vh-100">
    <router-outlet></router-outlet>
  </div>
  
</mat-tab-nav-panel>