html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    margin-left: 15px;
    margin-right: 15px;
}

.toolbar {
    margin-top: 0.75rem;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
}

.empty-space {
    flex: 1 1 auto;
}

.btn-secondary {
    background-color: #6c757d !important;
    color: #fff !important;
}

.mx-1 {
    margin-left: 0.25rem !important;
}

.vh-100 {
    height: 100vh;
}

.vw-100 {
    width: 100vw;
}

.float-start {
    float: left;
}

.float-end {
    float: right;
}