<h1 mat-dialog-title>Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} Name" matInput [(ngModel)]="localData.name">
  </mat-form-field>
  <ng-template #elseTemplate>
    Sure to delete <b>{{localData.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="doAction()">{{action}}</button>
  <button mat-flat-button color="warn" (click)="closeDialog()">Cancel</button>
</div>